<div id="main">
    <div id="archive-body">

        <div class="archive_panel">
            <div id="archive_header">
                <img src="https://cdn.this.red/img/header.jpg" id="archive_header_img" alt="">
            </div>

            <div class="archive_info">
                <div class="archive_head">
                    <img src="<%- theme.head_img %>" alt="头像未显示成功" class="archive_img">
                </div>
                <span class="archive_name">
                    <%- config.author %></span>
                <img src="/img/archive_verified.svg" class="archive_verified" alt="verified">
                <div class="archive_desp">
                    <span>
                        <%- theme.author_message %>
                    </span>
                </div>
            </div>

        </div>
        <%
        var year = 0;
        page.posts.forEach(function(post){
            var temp = date(post.date, "YYYY");
        if (temp !== year || year === 0) {
            year = temp;
        %>
        <a href="/<%- config.archive_dir %>/<%- year %>">
            <h2><%- year %></h2>
        </a>
        <% } %>

        <div class="archive_list_item">
            <div class="archive_list_item_content">
                <a href="/<%- post.path %>" title="<%- post.title %>" aria-label="<%- post.title %>">
                    <div class="archive-card_title">
                        <%- post.title %>
                    </div>
                    <div class="archive-card_date">
                        <%- date(post.date, "YYYY-MM-DD") %>
                    </div>
                </a>
            </div>

        </div>
        <% }); %>

        <% if (page.posts >= config.per_page){ %>
            <div id="page">
                <div class="page-inner">
                    <%- paginator({
                        prev_text: '<span class="fa fa-angle-left"> < </span>',
                        next_text: '<span class="fa fa-angle-right"> > </span>',
                        escape: false
                    }) %>
                </div>
            </div>
        <% } %>
    </div>

</div>