<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <nav id="main-nav">
                <ul>
                    <li><a class="main-nav-link" href="/">主页</a></li>
                    <li><a class="main-nav-link" href="<%= theme.menus.about %>">关于</a></li>
                    <li><a class="main-nav-link" href="<%= theme.links.github %>">Github</a></li>
                    <li><a class="main-nav-link" href="<%= theme.links.qqgroup %>">QQ群</a></li>
                </ul>
            </nav>
        </div>
        <div id="content_header">
            <div class="wrapper">
                <div class="header_img">
                    <a href="/">
                        <img src="<%- theme.head_img %>" alt="这是头像" class="head">
                    </a>
                </div>
                <div class="blog_create" style="font-size: 20px">
                    <div class="blog_owner">
                        <%- theme.author %>
                    </div>
                    <br><br>
                    <div class="blog_subtitle">
                        <%- config.subtitle %>
                    </div>
                </div>
                <div id="tagcloud" style="display: none">
                    <% site.tags.forEach(function(a){ %>
                        <a href="/<%- a.path %>">
                            <%- a.name %>
                        </a>
                    <% }); %>
                </div>
            </div>

        </div>
    </div>
    <div id="loader">
        <div class="la-ball-spin-clockwise la-2x" style="margin:0 auto;
                position: fixed;
                left: 0;
                right: 0;
                z-index: 10;
            ">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>