<article id="main">
    <h1 class="Fuc*" title="扶뒬못" aria-label="扶뒬못" data-bm="1" style="display: none"></h1>
    <div class="l-wrapper">
        <div class="panel-collection">
            <section class="panel s-wrapper site-panel">
                <div class="l-container l-container--large">
                    <div class="s-list s-list--full">
                        <ul class="s-content s-list__content">
                            <%
                            var is_first = true;
                            page.posts.forEach(function(post){
                                if (!is_home() || page.current !== 1) {
                                    is_first = false;
                                }
                            if (is_first){ %>
                            <li class="s-list__item" style="grid-column: 1/3;grid-row: 1/3;">
                                <% } else { %>
                            <li class="s-list__item">
                                <% } %>
                                <div class="c-card__link">
                                    <div class="c-card c-card--article c-card--onwhite c-card--fifty_fifty">
                                        <a href="/<%- post.path %>" aria-label="<%- post.title %>"
                                           title="<%- post.title %>">
                                            <div class="c-card__header">
                                                <div class="c-image c-image__overlay">
                                                    <img src="<%- post.img %>" alt="<%- post.title %>">
                                                </div>
                                            </div>
                                        </a>

                                        <div class="c-card__content-wrap">
                                            <div class="c-card__content">
                                                <a href="/<%- post.path %>" title="<%- post.title %>"
                                                   aria-label="<%- post.title %>">
                                                    <h3 class="c-card__title">
                                                        <%- post.title %>
                                                    </h3>
                                                </a>

                                                <div class="c-card__date">
                                                    <%- date(post.date, "YYYY-MM-DD HH:mm") %>
                                                </div>
                                                <% if(is_first){ %>
                                                    <div class="c-card__text">
                                                        <%- post.content %>
                                                    </div>
                                                    <div class="hide-area">

                                                    </div>
                                                <% }is_first = false %>
                                                <div class="c-card__cta" aria-hidden="true">
                                                    <div class="comments-count">
                                                        <img src="/css/comments.svg" class="comment-svg"
                                                             alt="comments-count">
                                                        <div id="/<%- post.path %>" class="waline-comment-count"
                                                             data-path="/<%- post.path %>">
                                                        </div>
                                                    </div>
                                                    <div class="post-tags">
                                                        <% post.tags.forEach(function(tag){ %>
                                                            <div class="post-tag">
                                                                <%= tag.name %>
                                                            </div>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="page">
        <div class="page-inner">
            <%- paginator({
                prev_text: '<span class="fa fa-angle-left"> < </span>',
                next_text: '<span class="fa fa-angle-right"> > </span>',
                escape: false
            }) %>
        </div>
    </div>
</article>