<div class="posts">
    <% page.posts.forEach(function(post){ %>
        <div class="post">
            <div class="content">
                <a href="/<%- post.path %>">
                    <div class="post_name">
                        <%- post.title %>
                    </div>
                </a>

                <div class="content_bg">
                    <%- post.excerpt %>
                </div>
                <div>
                    <div class="post_time">
                        <%- date(post.date, "YYYY-MM-DD HH:mm" ) %>
                    </div>
                    <div class="readmore">
                        <a href="/<%- post.path %>">查看全文</a>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
</div>