<article class="main">
    <style>
        .main {
            background-color: <%=theme.background_color%>;
            animation: postToHome 2s;
            -webkit-animation: postToHome 2s;
            /* Safari and Chrome */
        }
        
        @keyframes postToHome {
            from {
                background: white;
            }
            to {
                background: <%=theme.background_color%>;
            }
        }
        
        @-webkit-keyframes postToHome
        /* Safari 与 Chrome */
        
        {
            from {
                background: white;
            }
            to {
                background: <%=theme.background_color%>;
            }
        }
    </style>
    <div class="l-wrapper" data-js="site-wrap">
        <main class="">
            <div class="panel-collection" data-modular-content-collection="">
                <section class="panel s-wrapper site-panel" data-index="1" data-js="panel" data-type="hero_row" data-modular-content="">
                    <div class="l-container l-container--large">
                        <div class="s-list s-list--full">
                            <ul class="s-content s-list__content">
                                <% page.posts.forEach(function(post){ %>
                                    <li class="s-list__item">
                                        <a class="c-card__link" href="/<%- post.path %>" aria-label="Read more">
                                            <div class="c-card c-card--article c-card--onwhite c-card--fifty_fifty">
                                                <div class="c-card__header">
                                                    <div class="c-image c-image__overlay">
                                                        <img src="<%- post.img%>" alt="">
                                                    </div>
                                                </div>
                                                <div class="c-card__content-wrap">
                                                    <div class="c-card__content">
                                                        <div class="c-card__date">
                                                            <%- date(post.date, "YYYY-MM-DD HH:mm" ) %>
                                                        </div>
                                                        <h3 class="c-card__title">
                                                            <%- post.title %>
                                                        </h3>

                                                        <div class="c-card__cta" aria-hidden="true">
                                                            <% post.tags.forEach(function(tag){ %>
                                                                <%= tag.name %>
                                                                    <% });%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

</article>