<!DOCTYPE html>
<html lang="<%- config.language %>">
<%- partial('head') %>
<body>
<div id="root">
    <%- partial('loader') %>
    <%- partial('header') %>
    <%- body %>
    <%- partial('footer') %>
    <%- partial('sidebar') %>
</div>
</body>
</html>