<!DOCTYPE html>
<html lang="<%-config.language%>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (is_home()) {%>
            <%-config.title%>
        <%}%>
        <% if (is_post()) {%>
            <%-page.title%> - <%-config.title%>
        <%}%>
    </title>
    <meta data-react-helmet="true" name="keywords" content="<%-page.title%>,<%-config.keywords%>">
    <% if (is_home()) {%>
        <meta name='description' content='<%- config.description %>'>
    <%}%>
    <% if (is_post()) {%>
        <%if (page.excerpt){ %>
            <meta name="description" content="<%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %>">
        <% } else if (page.content){ %>
            <meta name="description" content="<%= strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150) %>">
        <% } %>
    <%}%>
    <meta http-equiv='content-language' content='<%-config.language%>'>
    <link rel="apple-touch-icon-precomposed" href="http://q.qlogo.cn/headimg_dl?dst_uin=2391114519&spec=640&img_type=jpg">
    <link rel="shortcut icon" href="http://q.qlogo.cn/headimg_dl?dst_uin=2391114519&spec=640&img_type=jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/cursor.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            border: 0;
        }
        
        #root {
            <% if (is_home()) {
                %>background-color: <%=theme.background_color%>;
                animation: postToHome 1s;
                -webkit-animation: postToHome 1s;
                /* Safari and Chrome */
                <%
            }
            %><% if (is_post()) {
                %>animation: homeToPost 1s;
                -webkit-animation: homeToPost 1s;
                /* Safari and Chrome */
                <%
            }
            %>
        }
        
        @keyframes homeToPost {
            from {
                background: <%=theme.background_color%>;
            }
            to {
                background: white;
            }
        }
        
        @-webkit-keyframes homeToPost
        /* Safari 与 Chrome */
        
        {
            from {
                background: <%=theme.background_color%>;
            }
            to {
                background: white;
            }
        }
        
        @keyframes postToHome {
            from {
                background: white;
            }
            to {
                background: <%=theme.background_color%>;
            }
        }
        
        @-webkit-keyframes postToHome
        /* Safari 与 Chrome */
        
        {
            from {
                background: white;
            }
            to {
                background: <%=theme.background_color%>;
            }
        }
        
        img {
            display: block;
        }
        
        a {
            text-decoration: none;
            color: <%=theme.a_color%>;
        }
        
        .te {
            margin: 0 auto;
            width: 690px;
            height: auto;
            min-height: 720px;
            overflow: hidden;
        }
        
        @media(max-width:600px) {
            .te {
                width: 100%;
            }
            .content {}
            .content_bg {
                padding: 0 0 0 0 !important;
                border-left: 10px !important;
                border-right: 10px !important;
            }
        }
        /*小 */
        
        @media(max-width:320px) {
            .te {
                margin: 0 auto;
                width: 320px;
            }
        }
        /* 兼容ipad横屏 ： */
        
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            .te {
                margin: 0 auto;
                width: 720px;
            }
            .content {}
            .content_bg {
                padding: 0 0 0 0 !important;
                border-left: 10px !important;
                border-right: 10px !important;
            }
        }
        /* 兼容ipad竖屏 ： */
        
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .te {
                margin: 0 auto;
                width: 720px;
            }
            .content {}
            .content_bg {
                padding: 0 0 0 0 !important;
                border-left: 10px !important;
                border-right: 10px !important;
            }
        }
        
        .content {
            padding: 20px;
            border-radius: 12px;
            <% if (is_post()) {
                %>background-color: <%=theme.content_color%>;
                <%
            }
            %>
        }

        .content_bg {
            padding: 0 10px 0 10px;
            border-left: 10px;
            border-right: 10px;
            height: 100%;
        }

        .content img{
            margin: 0 auto;
            border-radius: 15px;
            max-width: -webkit-fill-available;
        }
        
        .blog_create {
            padding: 10px;
            text-align: center;
            height: 20px;
        }
        
        .post {
            background-color: white;
            margin-bottom: 15px;
            box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
            border-radius: 12px;
        }
        
        .posts {}
        
        .post_name {
            padding: 10px;
            text-align: center;
        }
        
        .post_time {
            text-align: right;
            font-size: small;
            color: #9195A3;
        }
        
        .readmore {
            text-align: center;
        }
        
        #footer {
            background: <%=theme.footer_color%>;
            padding: 50px 0;
            color: #999;
        }
    </style>
</head>

<body>
    <%- partial('header')%>
        <%- body %>
            <%- partial('footer')%>
</body>
<link rel="stylesheet" href="/css/default.min.css">
<script src="/js/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>

</html>