<!DOCTYPE html>
<html lang="<%-config.language%>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (is_home()) {%>
            <%-config.title%>
                <%}%>
                    <% if (is_post()) {%>
                        <%-page.title%> -
                            <%-config.title%>
                                <%}%>
    </title>
    <meta data-react-helmet="true" name="keywords" content="<%-page.title%>,<%-config.keywords%>">
    <% if (is_home()) {%>
        <meta name='description' content='<%- config.description %>'>
        <%}%>
            <% if (is_post()) {%>
                <%if (page.excerpt){ %>
                    <meta name="description"
                        content="<%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %>">
                    <% } else if (page.content){ %>
                        <meta name="description"
                            content="<%= strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150) %>">
                        <% } %>
                            <%}%>
                                <meta http-equiv='content-language' content='<%-config.language%>'>
                                <link rel="apple-touch-icon-precomposed"
                                    href="http://q.qlogo.cn/headimg_dl?dst_uin=2391114519&spec=640&img_type=jpg">
                                <link rel="shortcut icon"
                                    href="http://q.qlogo.cn/headimg_dl?dst_uin=2391114519&spec=640&img_type=jpg"
                                    type="image/x-icon">
                                <link rel="stylesheet" href="/css/cursor.css">
                                <link rel="stylesheet" href="/css/default.min.css">
                                <link rel="stylesheet" href="/css/tag.css">
                                <link rel="stylesheet" href="/css/styles.css">
                                <link rel="stylesheet" href="/css/loaders.css">

                                <script>
                                    var _hmt = _hmt || [];
                                    (function () {
                                        var hm = document.createElement("script");
                                        hm.src = "https://hm.baidu.com/hm.js?61d743f5bae893c6f6b64f22ca7edb52";
                                        var s = document.getElementsByTagName("script")[0];
                                        s.parentNode.insertBefore(hm, s);
                                    })();
                                </script>


</head>

<body>
    <%- partial('header')%>
        <%- body %>
            <%- partial('footer')%>



                <link rel="stylesheet" href="/css/cursor.css">
                <link rel="stylesheet" href="/css/default.min.css">
                <link rel="stylesheet" href="/css/tag.css">
                <link rel="stylesheet" href="/css/styles.css">
                <link rel="stylesheet" href="/css/loaders.css">

                <script src="/js/highlight.min.js"></script>
                <script src="/js/tagcloud.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js"></script>
                <script>
                    hljs.highlightAll();
                    AniEnd()
                    var pjax = new Pjax({
                        elements: "a", //代表点击链接就更新
                        selectors: [ //代表要更新哪些html元素（dom节点）
                            ".main", "head"
                        ]
                    })
                    // 开始 PJAX 执行的函数
                    document.addEventListener('pjax:send', function () {
                        GoTop();
                        AniStart();
                    });
                    // PJAX 完成之后执行的函数，可以和上面的重载放在一起
                    document.addEventListener('pjax:complete', function () {
                        hljs.highlightAll();
                        AniEnd();
                    });
                    var timer = null;

                    function GoTop() {
                        cancelAnimationFrame(timer);
                        timer = requestAnimationFrame(function fn() {
                            var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                            if (oTop > 0) {
                                document.body.scrollTop = document.documentElement.scrollTop = oTop - 50;
                                timer = requestAnimationFrame(fn);
                            } else {
                                cancelAnimationFrame(timer);
                            }
                        });
                    }

                    function AniStart() {
                        document.getElementById("loader").style.display = "block";
                    }

                    function AniEnd() {
                        document.getElementById("loader").style.display = "none";
                    }
                </script>
</body>

</html>