<!DOCTYPE html>
<html lang="<%- config.language %>">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (is_home()) { %>
            <%- config.title %>
        <% }else if(is_tag()) { %>
            <%- page.tag %> -
            <%- config.title %>
        <% }else if(is_archive()) { %>
            <% if(is_month()) { %>
                <%- page.year %>/<%- page.month %> -
                <%- config.title %>
            <% }else if(is_year()) { %>
                <%- page.year %> -
                <%- config.title %>
        <% }}else { %>
            <%- page.title %> -
            <%- config.title %>
        <% } %>
    </title>
    <meta data-react-helmet="true" name="keywords" content="<%- page.title %>,<%- config.keywords %>">
    <%
    var description = "";
    if (is_home()) {
        description = config.description;
    } else if (page.excerpt) {
        description = strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '')
    } else if (page.content) {
        description = strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150)
    }
    %>
    <meta name='description' content='<%- description %>'>
    <meta name="author" content="<%- config.author %>">
    <meta http-equiv='content-language' content='<%- config.language %>'>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.site_icon %>">
    <link rel="shortcut icon" href="<%- theme.site_icon %>" type="image/x-icon">
    <link rel="stylesheet" href="/css/cursor.css">
    <link rel="stylesheet" href="/css/default.min.css">
    <link rel="stylesheet" href="/css/tag.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/loaders.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.css"/>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?61d743f5bae893c6f6b64f22ca7edb52";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        function loadScript(url, callback, elementId) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = url;
            document.getElementById(elementId).appendChild(script);
            script.onload = script.onreadystatechange = function () {
                if (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete') {
                    callback();
                    script.onload = script.onreadystatechange = null;
                }
            };
        }
    </script>
</head>

<body>
<div id="root">
    <%- partial('loader') %>
    <%- partial('header') %>
    <%- body %>
    <%- partial('footer') %>
    <%- partial('sidebar') %>
</div>

<script src="/js/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.js"></script>
<script>
    hljs.highlightAll();
    var pjax = new Pjax({
        elements: "a", //代表点击链接就更新
        selectors: [ //代表要更新哪些html元素（dom节点）
            "meta", "title", "#main", "#script-hook"
        ]
    })
    // 开始 PJAX 执行的函数
    document.addEventListener('pjax:send', () => {
        BackToTop();
        MyLoaderStart();
    });
    // PJAX 完成之后执行的函数，可以和上面的重载放在一起
    document.addEventListener('pjax:complete', () => {
        hljs.highlightAll();
        MyLoaderStop();
        WalineInit();
    });

    var myLoader;

    function MyLoaderStart() {
        document.getElementById("loader").style.display = "block";
        myLoader = setTimeout(function () {
            document.getElementById("myLoader").style.display = "block";
        }, 1000);
    }

    function MyLoaderStop() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myLoader").style.display = "none";
        clearTimeout(myLoader);
    }

    function GoToContent() {
        const mainElement = document.getElementById('header').offsetHeight;
        let attribute = mainElement.getAttribute('type');
        if (attribute === "post") {
            window.scrollTo({
                top: mainElement.offsetTop,
                behavior: 'smooth'
            });
        }
    }

    function WalineInit() {
        let waline = document.getElementById("waline");
        if (waline) {
            Waline.init({
                el: '#waline',
                serverURL: 'https://comments.this.red',
            });
        } else {
            Waline.init({
                el: '',
                serverURL: 'https://comments.this.red',
                comment: true,
            });
        }
    }

    WalineInit();
</script>
</body>

</html>