<!DOCTYPE html>
<html lang="<%- config.language %>">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (is_home()) { %>
            <%- config.title %>
        <% }else if(is_tag()) { %>
            <%- page.tag %> -
            <%- config.title %>
        <% }else if(is_archive()) { %>
            <% if(is_month()) { %>
                <%- page.year %>/<%- page.month %> -
                <%- config.title %>
            <% }else if(is_year()) { %>
                <%- page.year %> -
                <%- config.title %>
        <% }}else { %>
            <%- page.title %> -
            <%- config.title %>
        <% } %>
    </title>
    <meta data-react-helmet="true" name="keywords" content="<%- page.title %>,<%- config.keywords %>">
    <% if (is_home()) { %>
        <meta name='description' content='<%- config.description %>'>
    <% } %>
    <% if (is_post()) { %>
        <% if (page.excerpt){ %>
            <meta name="description"
                  content="<%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %>">
        <% } else if (page.content){ %>
            <meta name="description"
                  content="<%= strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150) %>">
        <% } %>
    <% } %>
    <meta http-equiv='content-language' content='<%- config.language %>'>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.site_icon %>">
    <link rel="shortcut icon" href="<%- theme.site_icon %>" type="image/x-icon">
    <link rel="stylesheet" href="/css/cursor.css">
    <link rel="stylesheet" href="/css/default.min.css">
    <link rel="stylesheet" href="/css/tag.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/loaders.css">

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?61d743f5bae893c6f6b64f22ca7edb52";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        function loadScript(url, callback) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = 'async';
            script.src = url;
            document.body.appendChild(script);
            if (script.readyState) {//IE
                script.onreadystatechange = function () {
                    if (script.readyState == 'complete' || script.readyState == 'loaded') {
                        script.onreadystatechange = null;
                        callback();
                    }
                }
            } else {//非IE
                script.onload = function () {
                    callback();
                }
            }
        }
    </script>
</head>

<body>
<div id="root">
    <%- partial('header') %>
    <%- body %>
    <%- partial('footer') %>
</div>


<link rel="stylesheet" href="/css/cursor.css">
<link rel="stylesheet" href="/css/default.min.css">
<link rel="stylesheet" href="/css/tag.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/loaders.css">
<script src="/js/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js"></script>
<script>
    loadScript("/js/tagcloud.js", () => {
        tagcloud({
            selector: "#tagcloud",
            fontsize: 12,
            radius: 60,
            mspeed: "normal",
            ispeed: "normal",
            direction: 135,
            keep: false
        });
        document.getElementById("tagcloud").style.display = "block";
    })
    hljs.highlightAll();
    AniEnd()
    var pjax = new Pjax({
        elements: "a", //代表点击链接就更新
        selectors: [ //代表要更新哪些html元素（dom节点）
            ".main", "head"
        ]
    })
    // 开始 PJAX 执行的函数
    document.addEventListener('pjax:send', function () {
        GoTop();
        AniStart();
    });
    // PJAX 完成之后执行的函数，可以和上面的重载放在一起
    document.addEventListener('pjax:complete', function () {
        hljs.highlightAll();
        AniEnd();
    });
    var timer = null;

    function GoTop() {
        cancelAnimationFrame(timer);
        timer = requestAnimationFrame(function fn() {
            var oTop = document.body.scrollTop || document.documentElement.scrollTop;
            if (oTop > 0) {
                document.body.scrollTop = document.documentElement.scrollTop = oTop - 50;
                timer = requestAnimationFrame(fn);
            } else {
                cancelAnimationFrame(timer);
            }
        });
    }

    function AniStart() {
        document.getElementById("loader").style.display = "block";
    }

    function AniEnd() {
        document.getElementById("loader").style.display = "none";
    }
</script>
</body>

</html>