<div>
    <ul class="post-next-list">
        <%
        var posts = []
        if (page.prev !== undefined) {
            page.prev.flag = "前一篇"
            posts.push(page.prev)
        }if (page.next !== undefined) {
            page.next.flag = "后一篇"
            posts.push(page.next)
        }
        posts.forEach(function(post){
        %>

            <li class="post-next" style="">
                <div class="c-card__link">
                    <div class="c-card c-card--article c-card--onwhite c-card--fifty_fifty">
                        <a href="/<%- post.path %>" aria-label="<%- post.title %>"
                           title="<%- post.title %>">
                            <div class="c-card__header">
                                <div class="c-image c-image__overlay">
                                    <img src="<%- post.img %>" alt="<%- post.title %>">
                                </div>
                            </div>
                        </a>

                        <div class="c-card__content-wrap">
                            <div class="c-card__content">
                                <a href="/<%- post.path %>" title="<%- post.title %>"
                                   aria-label="<%- post.title %>">
                                    <h3 class="c-card__title">
                                        <%- post.title %>
                                    </h3>
                                </a>

                                <div class="c-card__date">
                                    <%- post.flag %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>