<article class="main">
    <link rel="stylesheet" href="/css/post.css">
    <div class="content">
        <div class="post_name">
            <h1>
                <%- page.title %>
            </h1>
        </div>

        <div class="content_bg">
            <div class="post_info">
                <div class="post_author"><a href="<%= theme.menus.about %>"><%= theme.author %></a></div>
                <div class="post_time">
                    <% if (is_post()) { %>
                        <%- date(page.date, "YYYY年MM月DD日 HH:mm") %>
                    <% } %>
                </div>
            </div>

            <% if (is_post()) { %>
                <div class="post_toc">
                    <%- toc(page.content); %>
                </div>
            <% } %>
            <%- page.content %>
        </div>
        <div id="vcomments"></div>
        <script>
            loadScript("https://unpkg.com/valine/dist/Valine.min.js", () => {
                new Valine({
                    el: '#vcomments',
                    app_id: '<%- theme.app_id %>',
                    app_key: '<%- theme.app_key %>',
                    placeholder: '说点儿什么吧',
                    path: '<%- page.path %>',
                });
            })
        </script>
    </div>
</article>